services:
  db:
    container_name: "aesovoy_db"
    image: postgres:12.4-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: "${DB_NAME}"
      POSTGRES_USER: "${DB_USER}"
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
    restart: unless-stopped

  test_db:
    container_name: "aesovoy_db_test"
    image: postgres:12.4-alpine
    volumes:
      - postgres_test_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: "postgres"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    restart: unless-stopped

  api:
    container_name: "aesovoy_api"
    build:
      context: .
      dockerfile: ./Dockerfile
    depends_on:
      - db
    environment:
      DB_HOST: "db"
      DB_NAME: "${DB_NAME}"
      DB_USER: "${DB_USER}"
      DB_PASSWORD: "${DB_PASSWORD}"
      LOG_FILE: "${LOG_FILE}"
    ports:
      - "8080:8080"

volumes:
  postgres_data:
  postgres_test_data:
