{{define "content"}}
<div class="bg-white p-6 rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold text-gray-800 mb-4">Panel de Control</h1>

    <p class="mb-4 text-gray-700">Esta es una vista protegida. Solo puedes ver esto si has iniciado sesión correctamente.</p>
    
    <div class="border-t pt-4 mt-4">
        <h3 class="font-bold text-lg mb-2">Prueba de interactividad HTMX</h3>
        <button hx-get="/time" hx-swap="innerHTML" hx-target="#time-display" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Mostrar Hora Actual del Servidor
        </button>

        <div id="time-display" class="mt-4 text-gray-700 font-mono text-xl"></div>
    </div>
</div>
{{end}}